<h1>Bienvenido </h1>
<div class='mt-5'>
  <a
    class='btn btn-lg btn-secondary'
    href='http://localhost:8080/realtimeproducts'
  >Trabajar con productos (realtimeproducts)</a>
  <a class='btn btn-lg btn-secondary' href='http://localhost:8080/home'>Listado
    de productos (home)</a>
</div>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>